{% extends 'base.html' %} {% block content %}

<article>
  <h2>History of Smart Homes</h2>
  <p>
    Smart homes have been around, in some form, ever since miniaturized radio
    transmitters and receivers became commercially available. Initial forms of
    this technology, barring simple short range devices like the garage opener,
    were not suited to mass commercial use, with automation platforms like the
    X10 being impractical for the average consumer. Typically, early adopters
    were enthusiasts with experience with custom electronics. It was not until
    the popularization of short range communication, like Bluetooth, Wifi, and
    Z-Wave that they became practically viable.
  </p>
  <p>
    One of the first examples of a large-scale enterprise success of smart home
    technology was the nest thermostat. Similar single purpose utilities were
    also sold, with companies like Google and Amazon coming out with Google Home
    and Amazon Echo integrating the various ‘smart’ products into a cohesive
    ecosystem. The consumer smart home market continues to expand, not quite
    reaching ubiquity yet, but it still is within the first decade of its
    popularizations, so there is much yet to be seen.
  </p>
  <p>
    The enthusiast market of smart homes also expands, with more varied and
    technical functions than consumer counterparts. Nearly any reasonably
    conceivable thing can be done with enough effort and expertise, with the
    support for enthusiasts growing, especially with the advent of the Raspberry
    Pi in 2008. With the Pi came a varied and extensive ecosystem of control
    modules of all types and functions, able to do varied tasks, with anything
    from infrared accessories to motor control modules to data management
    abilities. The ability to inexpensively host a server on one’s own without
    dedicating or bogging down a pc to that task alone makes Pis worth their
    cost. Demand for Pis has increased dramatically since they initially came
    out due to their versatility, and they remain one of the most in demand
    components in nearly any enthusiast-level smart home setup.
  </p>
  <p>
    Due to popularization of the concept in the consumer sphere, and the advent
    of new, cheap control and processing units like the Raspberry Pi, smart home
    concepts continue to develop and become part of modern culture. The
    historical issues solved through the increasing interconnectivity of
    technology, and the ever-expanding demand for control from anywhere, means
    that smart homes shall continue to expand in popularity, closing the gap
    between enthusiasts and regular consumers.
  </p>
</article>

{% endblock %}
